
/*Main Element Sections*/
header {
  margin: 1px;
}
nav {
  background-color: white;
}

/*Common Elements*/
a{
  text-decoration: none;
  color: rgb(73, 71, 71);
}
li {
  list-style: none;
  font-weight: 600 ;
}



/* *************Main Sections**********************  */

/*Header & Nav Section*/
#siteLogo{
  height: 50px;
  width: 150px;
  padding-right: 10px;
}
.headerNav{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.headerNav > li{
    display: flex;
    padding: 20px;
}

/* Footer Section */
#footerLogo{
  height: 135px;
  padding: 20px;
}
.footerNav{
  display: flex;
  background-color: white;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
}
#footerSectionHeading{
  font-weight: bold;
  color: #495E57;
}


/* Component Sections */
/* .Section{
  background-color: #495E57;
  padding: 100px;
  color:antiquewhite;
  text-align: center;
} */


/* **************Section Areas************** */


.ReservationSection{
  display: flex;
  background-color: #495E57;
  padding-left: 80px;
  padding-top: 40px;
  color:antiquewhite;
  height: 420px;
}
.SpecialsSection{
  background-color: white;
  padding: 100px;
  margin-top: 8px;
  color:antiquewhite;
  text-align: center;
}
.TestimonalsSection{
  background-color: #495E57;
  padding: 100px;
  color:antiquewhite;
  text-align: center;
}
.AboutSection{
  background-color: #495E57;
  padding: 100px;
  color:antiquewhite;
  text-align: center;
}


/* **********Component Stylings************* */


/* ******CallToAction Component section******** */
.LogoArea{
  position: relative;
  padding-left: 500px;
}
.LogoArea h1{
  color: #f4ce14;
  font-family: 'Markazi Text';
  text-align: start;
}
.LogoArea h3{
  font-family: 'Markazi Text';
  text-align: start;
}
.LogoArea p{
  font-family: 'Markazi Text';
  text-align: start;
}
.displayImage{
  padding-left: 250px;
}
.displayImage img{
  float: right;
  height: 400px;
  width: 300px;
  border-radius: 16px;
}

/* Button Styles */

#tableButton {
  background-color: #f4ce14;
  color: black;
  font-weight:bold;
  border-radius: 16px;
  border: none;
}
#ReserveTable{
  padding-top: 70px;
}




/* *******Specials Section******** */

.cardArea{
  display: flex;
  flex-flow: row;
  padding: 50px;

}
.card{
  display: flex;
  width: 300px;
}
.card img{
  height: 200px;
  width: 300px;
}









/* ***************************Responsive Section Styling************************ */

 @media screen and (max-width: 700px) {

		.headerNav{
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }

    .footerNav{
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .LogoArea p{
      width: auto;
      display: block;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 1350px) {

    .ReservationSection,
    .LogoArea,
    .ReserveTable,
    .displayImage {
      flex-direction: column;
      padding:inherit ;
      height: fit-content;
      align-content: initial;
    }
  }



