/*Main Element Sections*/
header {
  margin: 1px;
}

nav {
  background-color: white;
}

/*Common Elements*/
a {
  text-decoration: none;
  color: rgb(73, 71, 71);
}

li {
  list-style: none;
  font-weight: 600;
}



/* *************Main Sections**********************  */

/*Header & Nav Section*/
#siteLogo {
  height: 50px;
  width: 150px;
  padding-right: 10px;
}

.headerNav {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.headerNav>li {
  display: flex;
  padding: 20px;
}

/* Footer Section */
#footerLogo {
  height: 135px;
  padding: 20px;
}

.footerNav {
  display: flex;
  background-color: #D9D9D9;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
}

#footerSectionHeading {
  font-weight: bold;
  color: #495E57;
}


/* Component Sections */
/* .Section{
  background-color: #495E57;
  padding: 100px;
  color:antiquewhite;
  text-align: center;
} */


/* **************Section Areas************** */

/* #MainSection {
  height: 2100px;
} */

.ReservationSection {
  display: flex;
  justify-content: center;
  background-color: #495E57;
  padding-left: 80px;
  padding-top: 40px;
  padding-right: 550px;
  color: antiquewhite;
  height: 420px;
}

.SpecialsSection {
  background-color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 8px;
  color: antiquewhite;
  text-align: center;
}

.TestimonalsSection {
  background-color: #495E57;
  padding: 100px;
  color: antiquewhite;
  text-align: center;
}

.AboutSection {
  background-color: white;
  padding: 100px;
  color: antiquewhite;
  text-align: center;
}



/* **********Component Stylings************* */


/* ******CallToAction Component section******** */
.LogoArea {
  position: relative;
  padding-left: 500px;
}

.LogoArea h1 {
  color: #f4ce14;
  font-family: 'Markazi Text';
  text-align: start;
}

.LogoArea h3 {
  font-family: 'Markazi Text';
  text-align: start;
}

.LogoArea p {
  font-family: 'Markazi Text';
  text-align: start;
}

.displayImage {
  padding-left: 250px;
}

.displayImage img {
  float: right;
  height: 400px;
  width: 300px;
  border-radius: 16px;
}

/* Button Styles */

#tableButton {
  background-color: #f4ce14;
  color: black;
  font-weight: bold;
  border-radius: 16px;
  border: none;
}

#ReserveTable {
  padding-top: 70px;
}




/* *******Specials Section******** */

.Specials {
  background-color: white;
  padding-left: 500px;
  padding-right: 450px;
  display: flex;
  justify-content: center;
}

.SpecialsSection {
  align-items: center;
  padding: 40px;
}

.cardSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.cardArea {
  display: flex;
  flex-flow: wrap;
  padding: 10px;
}

.card {
  display: flex;
  width: 250px;
  border: none;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #EDEFEE;
}

.card img {
  height: 200px;
  width: auto;
  border: none;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}


.dishType {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.dishType h3 {
  color: black;
  font-family: 'Markazi Text';
  font-size: 24px;
  font-weight: 550;
}

.dishType h4 {
  color: #EE9972;
  font-family: 'Karla';
  font-size: 21px;
  padding: 3px;
}

#dishContent {
  padding: 10px;
}

#dishContent p {
  color: #495E57;
  font-family: 'Karla';
  font-size: 16;
  text-align: left;
}

#delivery {
  padding: 10px;
  display: flex;
}

#delivery h5 {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: bold;
}


.mainContent {
  display: flex;
  flex-wrap: wrap;
}

.mainContextArea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 530px;
}

.mainContextArea h2 {
  float: left;
  color: black;
  padding-left: 30px;
}

.mainContextArea button {
  float: right;
  background-color: #f4ce14;
  color: black;
  font-weight: bold;
  border-radius: 16px;
  border: none;
}




/* *******Testimonals Section******** */


.reviewHeading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonalArea {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.TestimonalsSection h2 {
  color: black;
  font-family: 'Markazi Text';
  font-size: 36px;
  font-weight: 550;

}

.reviewSection {
  padding: 10px;
  width: 200px;
  height: 210px;
}

.reviewArea {
  background-color: #EDEFEE;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.ratingArea {
  display: flex;
  flex-direction: row;
}

.profileArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10px;
}

.ratingArea h3 {
  color: black;
  font-family: karla;
  font-weight: bold;
  font-size: 14px;
  padding: 9px;
  text-align: left;
}

.profileArea h5 {
  color: black;
  font-family: karla;
  font-weight: bold;
  font-size: 14px;
  padding: 15px;
}

.reviewArea h6 {
  color: black;
  font-family: karla;
  font-size: 14px;
  padding: 10px;
  text-align: left;
}

#ratingStar img {
  height: 20px;
  width: 19px;
}

#profile {
  height: 60px;
}

.profileArea img {
  display: flex;
  border-style: solid;
  border: black;
}


/* **************************Chicago About Section******************************* */

.AboutSection {
  background-color: white;
  display: flex;
  justify-content: center;
}

.aboutSectionArea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.aboutContent {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.aboutLogoArea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: start;
}

.aboutLogoArea h3 {
  display: flex;
  text-align: left;
}

#aboutContext {
  padding-top: 20px;
}

#aboutHeadings h1 {
  color: black;
  font-family: 'Markazi Text';
  /* font-size: 64; */
}

#aboutHeadings h3 {
  color: black;
  font-family: 'Markazi Text';
  /* font-size: 40; */
}

#aboutContext p {
  font-family: 'Karla';
  color: black;
  font-weight: 400px;
  font-size: 20;
}

.aboutImageContent {
  display: flex;
  padding: 100px;
  position: relative;

}

.aboutImageArea {
  display: flex;
  flex-direction: row;
  padding: 100px;
}

#aboutImage1 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 300px;
  border-radius: 16px;
  position: absolute;
  z-index: 1;
  top: 90px;
  left: 30px;
}

#aboutImage2 {
  width: 50%;
  height: 300px;
  border-radius: 16px;
  position: absolute;
  z-index: 2;
  left: 185px;
  top: -30px;
}


/*  ******************Booking Page Styling*************** */
.BookingPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-style: solid;
  background-color: #495E57;
  color: #EDEFEE;
  padding: 30px;
}

.BookingPage img {
  padding: 20px;
  height: 100%;
  width: 400px;
}

#bookingImageSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.form-section {
  background-color: #495E57;
  padding: inherit;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#formOptions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
}

.form-section button {
  background-color: #f4ce14;
  color: black;
  font-weight: bold;
  border-radius: 16px;
  border: none;
}

#formElements {
  display: flex;
  flex-direction: column;
}

/* ***************************Responsive Section Styling************************ */


/* Main Area */
@media screen and (max-width: 700px) {

  .headerNav {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }

  .footerNav {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .LogoArea p {
    width: auto;
    display: block;
    margin-bottom: 20px;
  }
}


/* Reservation Section */
@media screen and (max-width: 1350px) {

  .ReservationSection,
  .LogoArea,
  .ReserveTable,
  .displayImage,
  #logoDesc {
    /* flex-direction: column; */
    /* padding: inherit; */
    height: fit-content;
    align-content: initial;
    justify-content: flex-start;
    padding: initial;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 250px) {

  .ReservationSection,
  .LogoArea,
  .ReserveTable,
  #logoDesc {
    /* flex-direction: column; */
    /* padding: inherit; */
    height: fit-content;
    align-content: initial;
    justify-content: flex-start;
    padding: initial;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 1890px) {

  .ReservationSection,
  .LogoArea,
  .ReserveTable {
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: inherit; */
    height: fit-content;
    align-content: initial;
  }
}

@media screen and (max-width: 1600px) {

  .LogoArea,
  .displayImage {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {

  .LogoArea,
  .displayImage {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    flex-wrap: wrap;
  }
}


/* Specials Section */
@media screen and (max-width: 1150px) {

  .Specials,
  .SpecialsSection,
  .cardSection,
  .cardArea {
    flex-direction: column;
    padding: inherit;
    height: fit-content;
    align-content: initial;
    display: flex;
  }
}

@media screen and (max-width: 3755px) {
  .Specials {
    padding-top: 30px;
  }
}

@media screen and (max-width: 1150px) {
  .Specials {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1810px) {

  .mainContextArea,
  .mainContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}


/* Testimonals Section */
@media screen and (max-width: 1150px) {

  .TestimonalsSection {
    flex-direction: column;
    padding: inherit;
    display: flex;
    padding-top: 20px;
  }
}

/* About Section */

@media screen and (max-width: 992px) {

  .aboutImageArea,
  .aboutDisplayImage1,
  .aboutDisplayImage2,
  .imageArea {
    padding-top: 80px;
  }
}

@media screen and (max-width: 400px) {

  .aboutImageContent,
  .aboutImageArea {
    height: fit-content;
    width: auto;
  }
}



/* *************************************************************************************************************************************************************** */


/* @media screen and (max-width: 1150px) {
  .TestimonalsSection {
    padding-top: 20px;
  }
} */

/* @media screen and (max-width: 10px) {
    .Specials{
      padding-top: 100px;
    }
  } */

/* @media screen and (min-width:10px){
    .mainContextArea,
    .mainContent{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  } */