/*Main Element Sections*/
header {
  margin: 1px;
}

nav {
  background-color: white;
}

/*Common Elements*/
a {
  text-decoration: none;
  color: rgb(73, 71, 71);
}

li {
  list-style: none;
  font-weight: 600;
}



/* *************Main Sections**********************  */

/*Header & Nav Section*/
#siteLogo {
  height: 50px;
  width: 150px;
  padding-right: 10px;
}

.headerNav {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.headerNav>li {
  display: flex;
  padding: 20px;
}

/* Footer Section */
#footerLogo {
  height: 135px;
  padding: 20px;
}

.footerNav {
  display: flex;
  background-color: #D9D9D9;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
}

#footerSectionHeading {
  font-weight: bold;
  color: #495E57;
}


/* Component Sections */
/* .Section{
  background-color: #495E57;
  padding: 100px;
  color:antiquewhite;
  text-align: center;
} */


/* **************Section Areas************** */


.ReservationSection {
  display: flex;
  background-color: #495E57;
  padding-left: 80px;
  padding-top: 40px;
  color: antiquewhite;
  height: 420px;
}

.SpecialsSection {
  background-color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 8px;
  color: antiquewhite;
  text-align: center;
}

.TestimonalsSection {
  background-color: #495E57;
  padding: 100px;
  color: antiquewhite;
  text-align: center;
}

.AboutSection {
  background-color: white;
  padding: 100px;
  color: antiquewhite;
  text-align: center;
}


/* **********Component Stylings************* */


/* ******CallToAction Component section******** */
.LogoArea {
  position: relative;
  padding-left: 500px;
}

.LogoArea h1 {
  color: #f4ce14;
  font-family: 'Markazi Text';
  text-align: start;
}

.LogoArea h3 {
  font-family: 'Markazi Text';
  text-align: start;
}

.LogoArea p {
  font-family: 'Markazi Text';
  text-align: start;
}

.displayImage {
  padding-left: 250px;
}

.displayImage img {
  float: right;
  height: 400px;
  width: 300px;
  border-radius: 16px;
}

/* Button Styles */

#tableButton {
  background-color: #f4ce14;
  color: black;
  font-weight: bold;
  border-radius: 16px;
  border: none;
}

#ReserveTable {
  padding-top: 70px;
}




/* *******Specials Section******** */

.Specials {
  background-color: white;
  padding-left: 500px;
  padding-right: 450px;
  display: flex;
}

.SpecialsSection {
  align-items: center;
  padding: 40px;
}

.cardSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.cardArea {
  display: flex;
  flex-flow: wrap;
  padding: 10px;
}

.card {
  display: flex;
  width: 250px;
  border: none;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #EDEFEE;
}

.card img {
  height: 200px;
  width: auto;
  border: none;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.card h3{
  color: black;
  font-family: 'Markazi Text';
  font-size: 24;
  font-weight: 550;
}

.card h4{
  color: #EE9972;
  font-family: 'Karla';
  font-size: 16;
}
.card p{
  color: #495E57;
  font-family: 'Karla';
  font-size: 16;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
}

.mainContextArea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 530px;
}

.mainContextArea h2 {
  float: left;
  color: black;
  padding-left: 30px;
}

.mainContextArea button {
  float: right;
  background-color: #f4ce14;
  color: black;
  font-weight: bold;
  border-radius: 16px;
  border: none;
  /* display: flex; */
  /* padding: 100px; */
}


/* *******Testimonals Section******** */


/* .reviewArea{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
} */
/* .testimonalCardArea{
  padding: 10px;
} */

.testimonalArea{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.reviewArea{
  background-color: #EDEFEE;
  display: flex;
  padding: 10px;
  flex-direction: column;
}
.ratingArea{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.profileArea{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* .ratingContext {
  display: flex;
  flex-direction: column;
} */

.ratingArea h3,h5{
  color:black;
  font-family: karla;
  font-weight: bold;
  font-size: 14px;
}
.reviewArea h6{
  color:black;
  font-family: karla;
  font-size: 14px;
}
#ratingStar img{
  height: 30px;
  width: 30px;
}
#profile{
  height: 70px;
}


/* ***************************Responsive Section Styling************************ */

@media screen and (max-width: 700px) {

  .headerNav {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .footerNav {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .LogoArea p {
    width: auto;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1350px) {

  .ReservationSection,
  .LogoArea,
  .ReserveTable,
  .displayImage {
    flex-direction: column;
    padding: inherit;
    height: fit-content;
    align-content: initial;
  }
}

@media screen and (max-width: 1150px) {

  .Specials,
  .SpecialsSection,
  .cardSection,
  .cardArea {
    flex-direction: column;
    padding: inherit;
    height: fit-content;
    align-content: initial;
    display: flex;
  }
}

@media screen and (max-width: 1810px) {

  .mainContextArea,
  .mainContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 2500px) {
  .Specials {
    padding-top: 20px;
  }
}

/* @media screen and (max-width: 10px) {
    .Specials{
      padding-top: 100px;
    }
  } */

/* @media screen and (min-width:10px){
    .mainContextArea,
    .mainContent{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  } */